%div.row.post{:id => post.id}
  %div.row
    %div.row.header-row
      .col-md-6.location-md
        - unless post.location_neighborhood.nil? || post.location_neighborhood.empty?
          %span.label.label-default.pull-left.post-location
            desde
            = post.location_neighborhood.downcase            
      .col-md-6
        %span.label.pull-right.post-time{:class => AppHelper.label_style_for_post(post.created_at)}
          = time_ago_in_words(post.created_at || Time.now)
    %div.row.post-content
      = simple_format(post.content)
    %div.row.categories-row
      = partial 'category_badge', :collection => post.categories
    %div.row.voting
      .col-md-3.votes
        %i.glyphicon.glyphicon-fire.vote{:id => 0, :style => (post.stored_avg.to_f > 0 ? "color:red" : "color:inherit")}
        %i.glyphicon.glyphicon-fire.vote{:id => 1, :style => (post.stored_avg.to_f > 1 ? "color:red" : "color:inherit")}
        %i.glyphicon.glyphicon-fire.vote{:id => 2, :style => (post.stored_avg.to_f > 2 ? "color:red" : "color:inherit")}
        %i.glyphicon.glyphicon-fire.vote{:id => 3, :style => (post.stored_avg.to_f > 3 ? "color:red" : "color:inherit")}
        %i.glyphicon.glyphicon-fire.vote{:id => 4, :style => (post.stored_avg.to_f > 4 ? "color:red" : "color:inherit")}
        - if !post.vote_count.nil? && post.vote_count > 0
          %div{ :class => "red-tooltip tooltip fade right in", :style => "top: 5px; left: 90px; display: block;"}
            %div.tooltip-arrow
            %div.tooltip-inner.vote-counter
              = post.vote_count
      .col-md-4.disqus{ :style => AppHelper.is_disqus_link_displayed(request.url)}
        %a{:href => "/show/#{post.friendly_url}#disqus_thread"}
          dejar un comentario      
      .col-md-4.social-icons.pull-right{:style => "text-align:right"}
        %a{:href => AppHelper.href_for_facebook_share(post.id), :target => '_blank'}
          %i.fa.fa-facebook-square
        %a{:href => AppHelper.href_for_twitter_share(post.id, truncate_words(post.content, :length => 12)), :target => '_blank'}
          %i.fa.fa-twitter-square
        %a{:href => AppHelper.href_for_gplus_share(post.id), :target => '_blank'}
          %i.fa.fa-google-plus-square
        %a{:href => AppHelper.href_for_email_share(post.id), :target => '_blank'}
          %i.fa.fa-envelope
    %div.separator
      %hr
