!!! Strict
%html
  %head
    %title= [@title, "Tira La Bomba"].compact.join(" | ")
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}    
    = stylesheet_link_tag 'reset', 'application'
    = javascript_include_tag 'jquery', 'application'
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"}      
    %meta{:name=>'viewport', :content=> 'width=device-width, initial-scale=1.0'}
    = yield_content :include
  %body
    #wrap
      .container
        .row
          .col-md-2
            %h1 Tira La Bomba
          .col-md-10            
            #main= yield
    #footer
      .container
        %p.text-muted Copyright (c) 2014 Tira La Bomba
        