!!! Strict
%html
  %head
    %title= [@title, "Tira La Bomba"].compact.join(" | ")
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans+Narrow", :rel => "stylesheet"}
    %link{:href => "/assets/reset.css", :rel => "stylesheet"}
    %link{:href => "/assets/application.css", :rel => "stylesheet"}
    %link{:href => "/assets/bootstrap-multiselect.css", :rel => "stylesheet"}
    %script{:src => "/assets/jquery.js"}
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}      
    %script{:src => "/assets/application.js"}
    %script{:src => "/assets/bootstrap-multiselect.js"}
    %meta{:name=>'viewport', :content=> 'width=device-width, initial-scale=1.0'}
    %meta{:name=>'description', :content=> @description || 'Todo lo que no podias decir. Hasta ahora.'}
    %meta{:name=>'keywords', :content=> 'tiralabomba, secreto, confesion, confesiones, gossip, denuncia.'}
    / facebook
    %meta{:name=>'og:title', :content=>  [@title, "Tira La Bomba"].compact.join(" | ")}
    %meta{:name=>'og:site_name', :content=> 'Tira La Bomba'}
    %meta{:name=>'og:url', :content=> @url || 'http://tiralabomba.com'}
    %meta{:name=>'og:description', :content=> @description || 'Todo lo que no podias decir. Hasta ahora.'}
    %meta{:name=>'og:image', :content=> url_for('/assets/bred.jpg') }
    / twitter
    %meta{:name=>'twitter:title', :content=>  [@title, "Tira La Bomba"].compact.join(" | ")}
    %meta{:name=>'twitter:url', :content=> @url || 'http://tiralabomba.com'}
    %meta{:name=>'twitter:description', :content=> @description || 'Todo lo que no podias decir. Hasta ahora.'}
    %meta{:name=>'twitter:image', :content=> url_for('/assets/bred.jpg') }
  %body
    #wrap
      .container
        .row.flash-notice          
          .col-md-2
            &nbsp;
          .col-md-10
            - unless flash[:notice].nil?
              %div.alert.alert-danger.fade.in{:role => "alert"}
                %button{:type=>"button", :class=>"close", "data-dismiss"=>"alert"}
                  %span{"aria-hidden"=>"true"}
                    ×
                  %span.sr-only
                    Cerrar
                =flash[:notice].upcase
            - unless flash[:success].nil?
              %div.alert.alert-info.fade.in{:role => "alert"}
                %button{:type=>"button", :class=>"close", "data-dismiss"=>"alert"}
                  %span{"aria-hidden"=>"true"}
                    ×
                  %span.sr-only
                    Cerrar
                %strong
                  OK!
                =flash[:success].upcase
        .row
          %div.addthis_toolbox.addthis_floating_style.addthis_counter_style{:style => "left:10px;top:50px;"}
            %a.addthis_button_facebook_like{":fb:like:layout" => "box_count"}
            %a.addthis_button_tweet{":tw:count" => "vertical"}
            %a.addthis_button_google_plusone{":g:plusone:size" => "tall"}
            %a.addthis_counter
            %script
              var addthis_config = {"data_track_addressbar":true};            
          .col-md-2.title
            .row.title
              = image_tag('/assets/b.png')
              %div.title-text
                TIRALABOMBA
            - if request.route_obj.action == :index || request.route_obj.action == 'tags' || request.route_obj.action == :search || request.route_obj.action == :archive
              .row.categories.sidebar-item-right
                = partial 'categories'
              .row.search.sidebar-item-right
                = partial 'search'
              .row.search.sidebar-item-right
                = partial 'archive'
          .col-md-10         
            #main= yield
    #footer
      .container
        .col-md-6
          %p.bottom-nav.pull-left
            = link_to "Privacidad", url_for(:privacy)
            |
            = link_to "Términos", url_for(:terms)            
            |
            = link_to "Contacto", url_for(:contact)
            |
            = link_to "RSS", url_for('/rss')
            / = link_to "Quienes Somos", url_for(:who)
            / |
        .col-md-2
          %p.social-links
            %a{:href => 'http://blogdetiralabomba.tumblr.com'}
              %i.fa.fa-tumblr-square
            %a{:href => 'http://twitter.com/tiralabombaaa'}
              %i.fa.fa-twitter-square
            %a{:href => 'http://facebook.com/tiralabombaaa'}
              %i.fa.fa-facebook-square
            %a{:href => 'http://plus.google.com/tiralabombaaa'}
              %i.fa.fa-google-plus-square              
        .col-md-4
          %p.text-muted.copyleft.pull-right Copyright (c) 2014 ; Tira La Bomba.
    = javascript_include_tag 'google-analytics'       
    %script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5300db5b235e4b60", :async => true}