!!! Strict
%html
  %head
    %title= [@title, "Tira La Bomba"].compact.join(" | ")
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans+Narrow", :rel => "stylesheet"}
    %link{:href => "assets/reset.css", :rel => "stylesheet"}
    %link{:href => "assets/application.css", :rel => "stylesheet"}
    / = stylesheet_link_tag 'stylesheets/reset', 'application'
    / = javascript_include_tag 'javascripts/jquery', 'application'
    %script{:src => "assets/jquery.js"}
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}      
    %script{:src => "assets/application.js"}
    %meta{:name=>'viewport', :content=> 'width=device-width, initial-scale=1.0'}
  %body
    #wrap
      .container
        .row.flash-notice 
          %h2=flash[:notice]
        .row
          .col-md-2.title.extruded
            = image_tag('/assets/b.png')
          %div.addthis_toolbox.addthis_floating_style.addthis_counter_style{:style => "left:10px;top:50px;"}
            %a.addthis_button_facebook_like{":fb:like:layout" => "box_count"}
            %a.addthis_button_tweet{":tw:count" => "vertical"}
            %a.addthis_button_google_plusone{":g:plusone:size" => "tall"}
            %a.addthis_counter
            %script
              var addthis_config = {"data_track_addressbar":true};
            %script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5300db5b235e4b60"}
          .col-md-10            
            #main= yield
    #footer
      .container
        .col-md-6
          %p.bottom-nav.pull-left
            = link_to "Privacidad", url_for(:privacy)
            |
            / = link_to "Quienes Somos", url_for(:who)
            / |
            = link_to "Términos y Condiciones", url_for(:terms)            
            |
            = link_to "Contacto", url_for(:contact)
        .col-md-2
          %p.social-links
            %a{:href => 'http://twitter.com/tiralabombaa'}
              %i.fa.fa-twitter-square
            %a{:href => 'http://facebook.com/tiralabombaa'}
              %i.fa.fa-facebook-square
            %a{:href => 'http://plus.google.com/tiralabombaa'}
              %i.fa.fa-google-plus-square              
        .col-md-4
          %p.text-muted.copyleft.pull-right Copyright (c) 2014 ; Tira La Bomba.
    = javascript_include_tag 'google-analytics'       
